---
- name: Extract vars from provision data
  ansible.builtin.set_fact:
    # These are provided from RHPD
    openshift_console_url: "{{ aro_provision_data.aro_console }}"
    openshift_api_url: "{{ aro_provision_data.aro_public_api_url }}"
    openshift_kubeadmin_password: "{{ aro_provision_data.aro_kube_password }}"

    # ARO
    azure_resourcegroup: "{{ aro_provision_data.azure_resource_group }}"
    azure_client_id: "{{ aro_provision_data.azure_service_principal_id }}"
    azure_password: "{{ aro_provision_data.azure_service_principal_password }}"
    azure_tenant: "{{ aro_provision_data.azure_tenant}}"
    azure_subscription: "{{ aro_provision_data.azure_subscription}}"

- name: Build azure profile data structure
  ansible.builtin.set_fact:
    azure_profile:
      default:
        subscription_id: "{{ azure_subscription }}"
        client_id: "{{ azure_client_id }}"
        secret: "{{ azure_password }}"
        tenant: "{{ azure_tenant }}"

- name: Create .azure directory # noqa: risky-file-permissions
  ansible.builtin.file:
    path: "~/.azure"
    state: directory
  register: azure_dir

- name: Build special azure file # noqa: risky-file-permissions
  ansible.builtin.copy:
    content: "{{ azure_profile | community.general.to_ini }}"
    dest: "{{ azure_dir.path }}/credentials"

- name: Assertion for required variables
  ansible.builtin.assert:
    that:
      - openshift_console_url|length > 0
      - openshift_kubeadmin_password|length > 0
      - azure_resourcegroup|length > 0
      - azure_client_id|length > 0
      - azure_password|length > 0
      - azure_tenant|length > 0
      - azure_subscription|length > 0
      - openshift_api_url|length > 0
