---
- name: Slurp the entire contents of creds file
  ansible.builtin.slurp:
    src: "{{ aro_creds_file_path }}"
  register: slurp_result

- name: Decode the file content and set as a fact
  ansible.builtin.set_fact:
    file_content: |
      {{ slurp_result.content | b64decode }}

- name: Extract key variables using regular expressions
  ansible.builtin.set_fact:
    # These are provided from RHPD
    openshift_console_url: "{{ file_content | regex_search('Your ARO Console\\s+(https?://[^\\s]+)', '\\1') | first |trim('/') }}"
    openshift_kubeadmin_password: "{{ file_content | regex_search('Username\\s+kubeadmin\\s+Password\\s+([^\\s]+)', '\\1') | first }}"

    # ARO
    azure_resourcegroup: "{{ file_content | regex_search('Resource Group\\s+(openenv-[^\\s]+)', '\\1') | first }}"
    azure_client_id: "{{ file_content | regex_search('Application/Client/Service Principal ID\\s+([^\\s]+)', '\\1') | first }}"
    azure_password: "{{ file_content | regex_search('2 - Your Azure Environment Details(?:.|\\n)*?Password\\s+([^\\s]+)', '\\1') | first }}"
    azure_tenant: "{{ file_content | regex_search('Tenant ID\\s+([^\\s]+)', '\\1') | first }}"
    azure_subscription: "{{ file_content | regex_search('Subscription ID\\s+([^\\s]+)', '\\1') | first }}"

- name: Derive OpenShift API URL from Console URL
  ansible.builtin.set_fact:
    openshift_api_url: "{{ openshift_console_url | regex_replace('^https://console-openshift-console.apps', 'https://api') }}:6443"

- name: Build azure profile data structure
  ansible.builtin.set_fact:
    azure_profile:
      default:
        subscription_id: "{{ azure_subscription }}"
        client_id: "{{ azure_client_id }}"
        secret: "{{ azure_password }}"
        tenant: "{{ azure_tenant }}"

- name: Create .azure directory # noqa: risky-file-permissions
  ansible.builtin.file:
    path: "~/.azure"
    state: directory
  register: azure_dir

- name: Build special azure file # noqa: risky-file-permissions
  ansible.builtin.copy:
    content: "{{ azure_profile | community.general.to_ini }}"
    dest: "{{ azure_dir.path }}/credentials"

- name: Assertion for required variables
  ansible.builtin.assert:
    that:
      - openshift_console_url|length > 0
      - openshift_kubeadmin_password|length > 0
      - azure_resourcegroup|length > 0
      - azure_client_id|length > 0
      - azure_password|length > 0
      - azure_tenant|length > 0
      - azure_subscription|length > 0
