---
- name: Delete OAuth2 application in AAP if present
  ansible.platform.application:
    name: "{{ aap_oauth_client_name}}"
    description: "Self Service application"
    organization: "{{ aap_organization }}"
    state: absent
    aap_hostname: "{{ controller_host }}"
    aap_username: "{{ controller_username }}"
    aap_password: "{{ controller_password }}"
    aap_validate_certs: "{{ controller_verify_ssl }}"
  when: app_result.client_secret == "$encrypted$"

- name: Create OAuth2 application in AAP
  ansible.platform.application:
    name: "{{ aap_oauth_client_name}}"
    description: "Self Service application"
    organization: "{{ aap_organization }}"
    state: present
    authorization_grant_type: authorization-code
    client_type: confidential
    redirect_uris:
      - "{{ rhaap_redirect_url | default('https://placeholder.com') }}"
    app_url: "{{ rhaap_app_url | default('https://placeholder.com') }}"
    aap_hostname: "{{ controller_host }}"
    aap_username: "{{ controller_username }}"
    aap_password: "{{ controller_password }}"
    aap_validate_certs: "{{ controller_verify_ssl }}"
  register: app_result
  when: app_result.client_secret == "$encrypted$"

- name: "Create secret: secrets-rhaap-self-service-portal"
  redhat.openshift.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: secrets-rhaap-portal
        namespace: "{{ openshift_namespace }}"
      type: Opaque
      data:
        aap-host-url: "{{ controller_host | b64encode }}"
        aap-token: "{{ aap_token_result.ansible_facts.aap_token.token | b64encode }}"
        oauth-client-id: "{{ app_result.client_id | b64encode }}"
        oauth-client-secret: "{{ app_result.client_secret | b64encode }}"

- name: Normalize tokens
  set_fact:
    _gitlab_token: "{{ gitlab_token | default('', true) }}"
    _github_token: "{{ github_token | default('', true) }}"

- name: Build secrets-scm data
  set_fact:
    scm_secret_data: >-
      {{
        dict(
          [('gitlab-token', _gitlab_token)] if _gitlab_token != '' else []
          +
          [('github-token', _github_token)] if _github_token != '' else []
        )
      }}


- name: "Create secret: secrets-scm"
  redhat.openshift.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Secret
      metadata:
        name: secrets-scm
        namespace: "{{ openshift_namespace }}"
      type: Opaque
      stringData: "{{ scm_secret_data }}"
