---
- name: Include vars file
  ansible.builtin.include_vars:
    file: "{{ user_creds_file_path }}"

- name: Extract vars from environment if set
  ansible.builtin.set_fact:
    aap_admin_password: "{{ user_creds_aap_admin_password }}"
    aap_machine_cred_password: "{{ user_creds_aap_machine_cred_password }}"
    aap_machine_cred_priv_key: "{{ user_creds_aap_machine_cred_priv_key }}"
    aap_machine_cred_pub_key: "{{ user_creds_aap_machine_cred_pub_key }}"
    ansible_ssh_private_key_file: "{{ user_creds_ansible_ssh_private_key_file }}"
    aap_manifest_path: "{{ user_creds_aap_manifest_pah }}"

- name: Check that manifest exists
  ansible.builtin.stat:
    path: "{{ aap_manifest_path }}"
  register: stat_result

- name: Assertion for required variables (when deploying ALIA)
  when: aap_operator_disable_lightspeed is not true
  ansible.builtin.assert:
    that:
      - aap_operator_chatbot_token|length > 0

- name: Assertion for required variables
  ansible.builtin.assert:
    that:
      - stat_result.stat.exists
      - aap_admin_password|length > 0
      - openshift_admin_password|length > 0
      - aap_manifest_path|length > 0
      - aap_machine_cred_priv_key|length > 0
      # ensure RSA key
      - aap_machine_cred_priv_key is regex('^-----BEGIN (?:RSA|OPENSSH) PRIVATE KEY-----\n(.+\n)+-----END (?:RSA|OPENSSH) PRIVATE KEY-----\s*$')
      # enforce Windows password requirements
      - aap_machine_cred_password|length >= 8
      - ( (aap_machine_cred_password | regex_search('[A-Z]') | ternary(1, 0)) +
          (aap_machine_cred_password | regex_search('[a-z]') | ternary(1, 0)) +
          (aap_machine_cred_password | regex_search('[0-9]') | ternary(1, 0)) +
          (aap_machine_cred_password | regex_search('[!@#$%^&*(),.?":{}|<>]') | ternary(1, 0))
        ) >= 3
