---
apiVersion: v1
kind: Secret
metadata:
  name: "{{ aap_operator_app_name }}-admin-password"
  namespace: {{ aap_operator_project }}
label_selectors:
  - "app.kubernetes.io/name={{ aap_operator_project }}"
data:
    password: {{ aap_operator_admin_password | b64encode }}
