---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ aap_operator_eda_rolebinding_name }}
subjects:
  - kind: ServiceAccount
    name: {{ aap_operator_service_account }}
    namespace: {{ aap_operator_project }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ aap_operator_ocp_cluster_role }}
