---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: {{ aap_operator_disable_lightspeed_chatbot_config_secret_name }}
  namespace: {{ aap_operator_project }}
data:
  chatbot_llm_provider_type: {{ aap_operator_chatbot_llm_provider_type | b64encode}}
  chatbot_model: {{ aap_operator_chatbot_model | b64encode }}
  chatbot_token: {{ aap_operator_chatbot_token | b64encode }}
  chatbot_url: {{ aap_operator_chatbot_url | b64encode }}
