---
- name: Slurp the entire contents of rosa creds file
  ansible.builtin.slurp:
    src: "{{ rosa_creds_file_path }}"
  register: rosa_slurp

- name: Decode the file content and set as a fact
  ansible.builtin.set_fact:
    file_content: |
      {{ rosa_slurp.content | b64decode }}

- name: Extract key variables using regular expressions
  ansible.builtin.set_fact:
    # These are provided from RHPD
    # ROSA
    openshift_console_url: "{{ file_content | regex_search('ROSA OpenShift Console URL:\\s*(https://[^\\s]+)', '\\1') | first }}"
    openshift_api_url: "{{ file_content | regex_search('ROSA OpenShift API:\\s*(https://[^\\s]+)', '\\1') | first }}"
    aws_access_key: "{{ file_content | regex_search('AWS Access Key ID:\\s*(\\S+)', '\\1') | first }}"
    aws_secret_key: "{{ file_content | regex_search('AWS Secret Access Key:\\s*(\\S+)', '\\1') | first }}"
    rosa_bastion_user: "{{ file_content | regex_search('SSH Username:\\s*(\\S+)', '\\1') | first }}"
    rosa_bastion_host: "{{ file_content | regex_search('SSH Command:\\s*ssh\\s+\\S+@(\\S+)', '\\1') | first }}"
    rosa_bastion_password: "{{ file_content | regex_search('SSH Password:\\s*(\\S+)', '\\1') | first }}"

- name: Assertion for required variables
  ansible.builtin.assert:
    that:
      - rosa_bastion_host|length > 0
      - rosa_bastion_password|length > 0
      - rosa_bastion_user|length > 0
      - aws_access_key|length > 0
      - aws_secret_key|length > 0
      - openshift_console_url|length > 0
      - openshift_api_url|length > 0
