---
- name: Extract vars from provision data
  ansible.builtin.set_fact:
    # These are provided from RHPD
    # ROSA
    openshift_console_url: "{{ rosa_provision_data.rosa_openshift_console_url }}"
    openshift_api_url: "{{ rosa_provision_data.rosa_openshift_api_url }}"
    aws_access_key: "{{ rosa_provision_data.aws_access_key_id}}"
    aws_secret_key: "{{ rosa_provision_data.aws_secret_access_key }}"
    rosa_bastion_user: "{{ rosa_provision_data.ssh_username }}"
    rosa_bastion_host: "{{ rosa_provision_data.targethost }}"
    rosa_bastion_password: "{{ rosa_provision_data.ssh_password }}"

- name: Assertion for required variables
  ansible.builtin.assert:
    that:
      - rosa_bastion_host|length > 0
      - rosa_bastion_password|length > 0
      - rosa_bastion_user|length > 0
      - aws_access_key|length > 0
      - aws_secret_key|length > 0
      - openshift_console_url|length > 0
      - openshift_api_url|length > 0
